$primary: #ef8015;
$secondary: #00a29b;
$light: #f6f6f6;
$dark: #424242; // #56565a is referenced in the style guide
$darker: #4A4A4A; /// Used for headings

$enable-rounded: false;
$body-bg: #ffffff;
$body-color: #333333;
$body-text-align: null;

$link-color: $secondary;
$link-decoration: underline;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: null;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

$paragraph-margin-bottom: 1rem;
$font-family-headings: 'Bembo W04 Roman', serif;
$font-family-base: 'Roboto', sans-serif;
$font-size-root: null;
$font-weight-base: 400;
$font-weight-bolder: 700;
$font-weight-bold: 700;
// $font-size-base: 1.5rem; // 24px
$font-size-base: 1.125rem; // 18px
$line-height-base: 1.4;
$font-size-sm: $font-size-base * 0.875; // 21px
$font-size-lg: $font-size-base * 1.25; // 30px

$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: 3.125rem; // 50px
$h2-font-size: 2.375rem; // 38px
$h3-font-size: 1.625rem; // 26px
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

//$headings-margin-bottom: $spacer / 2;
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: null;

$display1-size: $h1-font-size * 0.25;
$display2-size: $h2-font-size * 0.25;
$display3-size: $h3-font-size * 0.25;
$display4-size: $h4-font-size * 0.25;
$display1-weight: 600;
$display2-weight: 600;
$display3-weight: 600;
$display4-weight: 600;

$lead-font-size: $font-size-base * 1.25;
$lead-font-weight: 300;

$small-font-size: 0.875em;

$sub-sup-font-size: 0.75em;

$input-padding-y: .9rem;
$input-padding-x: 1.475rem;

$border-width: 3px;
$btn-font-weight: 600;
$btn-padding-y: .9rem;
$btn-padding-x: 1.475rem;
$btn-font-size: 1.5rem;
$btn-line-height: 1;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px /// 1440px
) !default;

//$grid-columns
$grid-gutter-width: 54px;

$card-deck-margin: 10px;
