.el-image-side--flushed {
  position: relative;
  padding-bottom: 3.125rem;
  padding-top: 3.125rem;

  .container {
    @include media-breakpoint-up(lg) {
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.el-image-side {
  padding-bottom: 3.125rem;
  padding-top: 3.125rem;
}

.el-image-columns {
  padding-bottom: 3.125rem;
  padding-top: 3.125rem;
}

.el-image-col {
  h3 {
    margin-top: 2.375rem;
  }
}

.el-rte {
  margin-bottom: 5rem;
  //padding-top: 3.125rem;
}

.el-rte--lead {
  @include media-breakpoint-up(lg) {
    font-size: 1.875rem;
  }

  h1, .h1,
  h2, .h2 {
    margin-bottom: 1.4rem;
    font-size: $h2-font-size;
    line-height: 1.16;
  
    @include media-breakpoint-up(lg) {
      font-size:  3.75rem;
      line-height: 1.16;
    }
  }
}