.el-footer {
  color: $light;
  background-color: $dark;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  p {
    font-size: 1rem;
  }
}

.social-links {
  font-size: 1.6rem;

  a {
    color: #fff;
    text-decoration: none !important;

    &:hover,
    &:focus {
      color: rgba(#fff, 0.7);
    }
  }
}
